@font-face{
    font-family: sansita;
    src: url(/fonts/Sansita-ExtraBoldItalic.ttf);
}
@font-face{
    font-family: poppins;
    src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: poppins-regular;
    src: url(/fonts/Poppins-Regular.ttf);
}

body{
    box-sizing: border-box;
}

/*********** NAV BAR ***********/

.navbar{
    background-color: #EF4A47;
}
.navbar-nav{
    
}

.navbar-brand{
    font-family: sansita;
}

.nav-item{
    font-family: poppins;
}

/*********** BODY ***********/

.go-back-button{
    background-color: #FCF9CF;
    padding-top: 30px;
}

.go-back-button a{
    margin: 20px 0 0 70px
}

.section{
    background-color: #FCF9CF;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    
}

.carousel-horizontal{
    display: none;
}

.carousel{
    max-width: 250px;
    max-height: 400px;
    margin: 20px 20px;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    box-shadow: 5px 5px 15px rgba(89, 88, 88, 0.3);
}

.carousel img{
    border-radius: .25rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    height: 400px;
    margin: 20px 20px;
}

.form-control{
    box-shadow: 5px 5px 15px rgba(89, 88, 88, 0.3);
}

.name,
.date{
    font-family: poppins;
}

.description{
    font-family: poppins-regular;
}

.cards-title{
    background-color: #FCF9CF;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.cards-title h2{
    font-family: poppins;
}


.cards-container{
    background-color: #FCF9CF;
    margin: 0
}

.card-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding:50px 0 ;
    margin: 0 auto;
}

.cards{
    width: 280px;
    background-color: #FCF9CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 20px;
    border: 2px solid #ffffff;
    border-radius: .25rem;
    box-shadow: 5px 5px 15px rgba(89, 88, 88, 0.3);
}

.card-image{
    margin: 20px auto;
    border-radius: 50%;
    border: 4px solid #FCF9CF;
}

.card-name{
    font-family: poppins;
    color: #000000;
}

.card-review{
    width: 80%;
    font-family: poppins-regular;
    padding: 10px;
    color: #000000;
}







/*********** FOOTER ***********/

footer{
    background-color: #EF4A47;
    padding-bottom: 30px;
    font-family: poppins;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.icons li{
    list-style: none;
    margin: 40px 10px 0 10px;
    color: #FCF9CF;
    opacity: .7;
    transition:ease-in-out 0.2s ;
}

.icons li:hover{
    opacity: 1;

}

.footer-links li{
    list-style: none;
    margin: 20px 30px 0 30px;
    color: #ffffff;
    opacity: .5;
    cursor: pointer;
}

.footer-links li:hover{
    opacity: 1;
}

/*********** MEDIA QUERIES ***********/

@media(max-width:1000px){

    .content{
        max-width: 430px;
        font-size: .9rem;
    }

}

/******** MEDIA QUERIES *********/

@media(max-width: 768px){
    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links li{
        list-style: none;
        margin: 10px 30px 10px 30px;
        color: #ffffff;
        opacity: .7;
        cursor: pointer;
    }

    .section{
        flex-direction: column;
    }

    .carousel{
        display: none;
    }

    .carousel-horizontal{
        display: flex;
        max-width: 100vw;
        margin: 0;
    }

    .cards-title h2{
        font-size: 1.6rem;
    }
    
}
