  .bg{
    /* background: url('') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%; */
    font-family: sansita;
} 


.marg{
    /* position: absolute;*/
    margin-top: 30px;
    background: #fff;
   

} 

