
@font-face{
  font-family: sansita;
  src: url(/fonts/Sansita-ExtraBoldItalic.ttf);
}
@font-face{
  font-family: poppins;
  src: url(/fonts/Poppins-SemiBold.ttf);
}

.navbar{
    background-color: #EF4A47;
}

.navbar-brand{
  font-family: sansita;
}

.nav-item{
  font-family: poppins;
}

