<<<<<<< HEAD
/*.bg{
    background: url('') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
=======

@font-face{
  font-family: sansita;
  src: url(/fonts/Sansita-ExtraBoldItalic.ttf);
}
@font-face{
  font-family: poppins;
  src: url(/fonts/Poppins-SemiBold.ttf);
}

.navbar{
    background-color: #EF4A47;
>>>>>>> 8347e6cfa5630798845bd7f93d08ff0ccc4c5a84
}

.navbar-brand{
  font-family: sansita;
}

.nav-item{
  font-family: poppins;
}

